body{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.swing{
    animation: swing 1.5s ease-in-out infinite alternate;
    transform: top center;
    position: relative;
}
.swing img{
    width: 200px;
    border: 15px groove gold;
    box-shadow: 8px 8px 8px;
    display: block;
}
.swing::before{
   content:"";
   position: absolute;
   transform: translateX(-50%);
   top: -50px;
   left: 50%;
   width: 6px;
   height: 50px;
   background: green;

}
.swing::after{
    content:"\2B24";
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
    height: 10px;
    border-radius: 50%;

}
@keyframes swing{
    0%{transform: rotate(3deg);}
    100%{transform: rotate(-3deg);}
}