h3{
    color: pink;
    background-color: green;
    font-size: 100px;


}

thead{
    color: aqua;
    background-color: green;
}

tbody{
    color: goldenrod;
    background-color: rebeccapurple;
}

caption{
    font-size: 150px;
    color:black;
}

thead{
    font-size: 30px;
    

}
tbody{
    font-size: 30px;
}


 .t_trasform_uppercase {
    text-transform: uppercase;

 }

 .t_trasform_lorwercase{
    text-transform: lowercase;
 }
 .t_trasform_capitlize{
    text-transform: capitalize;
 }
 .t_align_center{
    text-align: center;
    font-size: 100px;
 }
 .t_align_right{
    text-align: right;
 }
 .t_decor_over{
    text-transform: overline;
 }
.t_decor_line{
   text-transform: line-through;
}
.t_decor_under{
    text-transform: underline;
}
.t_decor_over{
    text-decoration: line-through overline underline;
}
.t_indent{
    text-indent: 150px;
}
.t_line_height{
    line-height: 100px;
}
.t_letter_spacing{
    letter-spacing: 30px;
}

.t_worde_spacing{
    word-spacing: 30px;
}
.t_shadow{
    color: green;
    text-shadow: 6px 7px 7px red;
    font-size: 100px;
    text-align: center;
}
.t_shadow1{
    color: blue;
    text-shadow: 6px 7px 7px red;
    font-size: 100px;
    text-align: center;
}
.t_shadow2{
    color: rebeccapurple;
    text-shadow: 6px 7px 7px red;
    font-size: 100px;
    text-align: center;
}
.t_shadow3{
    color: palegreen;
    text-shadow: 6px 7px 7px red;
    font-size: 100px;
    text-align: center;
}
.t_shadow4{
    color: peru;
    text-shadow: 6px 7px 7px red;
    font-size: 100px;
    text-align: center;
}
.t_shadow5{
    color: purple;
    text-shadow: 6px 7px 7px red;
    font-size: 100px;
    text-align: center;
}
.img_b_shadow{
    width: 400px ;
    box-shadow: 5px 7px 9px black;
}
.img_b_shadow2{
    width: 400px;
    box-shadow: 5px 7px 9px rgb(149, 25, 105);
}
.img_b_shadow3{
    width: 400px;
    filter: drop-shadow( 6px 8px 9px green);
}

.f_famaly{
    font-family: monospace; 
}
.f_famaly1{
    font-family: cursive;
}
.f_famaly2{
    font-family: sans-serif;
}
.f_famaly3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.f_weight{
    font-weight: 100px;
    font-style: italic;
}
.f_font{
    font: italic bold 30px verdana;
}

#heading{
   color: blueviolet;
}
.heading{
    color: aliceblue;
}
.t_align_center{
    font: center;
}
.t_decor_over{
    
}

.b_img{
    width: 400px;
    border: 9px solid green;
}
.b_img1{
    width: 400px;
    border: 9px dashed greenyellow;

}
.b_img2{
    width: 400px;
    border: 9px dotted goldenrod;
}
.b_img3{
    width: 400px;
    border: 9px double grey;
}
.b_img4{
    width: 400px;
    border: 9px inset palevioletred;
}
.b_img5{
    width: 400px;
    border: 9px outset palegreen;
}
.b_img6{
    width: 400px;
    border: 9px ridge palegreen;
}
.b_img7{
    width: 500px;
    border:8px solid ;
    border-top: fuchsia;
    border-left: honeydew;
    border-right: teal;
    border-bottom: chocolate;
}
.b_img8{
    width: 400px;
    border: 9px groove palegreen;
    border-radius: 30px;
    padding: 20px;
    margin: 20px;
}
.b_img9{
    width: 400px;
    border: 9px double palegreen;
    /* border-top-right-radius: 30px;
    border-bottom-right-radius: 70px;
    border-bottom-left-radius: 60px;
    border-top-left-radius: 50px; */
    border-radius: 50px 50px 50px 50px;
    border-color: antiquewhite gold firebrick hotpink;
}
.b_img10{
    width: 400px;
    border: 10px groove greenyellow;
    padding: 20px;
    margin: 50px;
    box-shadow: 9px 7px 6px burlywood;
}
.box_model{
    border: 20px groove greenyellow;
    padding: 40px;
    margin: 60px;
}
.box_model1{
    border: 20px groove greenyellow;
    /* padding-top: 40px;
    padding-bottom: 150px;
    padding-right: 100px;
    padding-left: 80px; */
    padding: 30px 40px 50px 30px;
    /* top-right-bottom-left */
}
.box_model2{
    border: 20px groove khaki;
    /* margin-top: 40px;
    margin-bottom: 150px;
    margin-right: 100px;
    margin-left: 80px; */
    margin: 60px 60px 60px 60px;
}