.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* margin-left: 30px; */
    gap: 30px;
    padding-top: 30px;
}

.box{
    background-color: darkgoldenrod;
    border-radius: 10px;
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    transition: transform 2s ease-in 500ms;
}

.box1:hover{
    transform: translate(-125px,-125px);
}

.box2:hover{
    transform: translateX(-80px);
}

.box3:hover{
    transform: translateY(-80px);
}

.box4:hover{
    transform: rotate(360deg);
}

.box5:hover{
    transform: skew(10deg,10deg);
}

.box6:hover{
    transform: skewx(10deg);
}

.box7:hover{
    transform: skewy(10deg);
}

.box8:hover{
    transform: scale(20);
}

